* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

body {
    background-color: #273445ed;
    overflow-y: hidden;
    
}

h1 {
    font-size: 24px;
    font-family: 'Rowdies', cursive;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
}

.gif {
    margin-top: 10px;
    margin-left: 670px;
}

.fundo {
    width: 1790px;
    height: 760px;
    background-color: rgba(101, 117, 138, 0.5);
    margin-top: 32px;
    margin-left: 65px;
}

.fundo-texto {
    font-family: 'Rowdies', cursive;
    color: white;
    font-size: 30px;
    margin-left: 855px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
}


.card {
    width: 301px;
    height: 385px;
    font-size: 35px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: all .5s;
    background-image: url(./IMG/votar.jpg);
    margin-left: 740px;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #0005;
    gap: 20px
}

.card img {
    max-width: 301px;

}
.card:hover {
    transform: scale(1.05);
}

.gatitos {
    width: 215px;
    z-index: 10px;
    margin-top: -98px;
    margin-left: 22px;
}


.sim {
    width: 124px;
    height: 27px;
    margin-left: 725px;
    margin-top: 80px;

}

.nao {
    width: 124px;
    height: 27px;
    margin-left: 75px;
}